BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeTernaryOperators: true
BinPackParameters: false
BinPackArguments: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AccessModifierOffset: -4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\..*>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '".*"'
    Priority: 3